.navbar{
    background: rgba(0, 0, 0, 0.82);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: max-content;
    margin-right: 50px;
    padding: 20px 0;
    margin-bottom: 0;
}

.navbar ul li{
    margin-right: 100px;
}

.navbar ul li a{
    color: #fff;
    text-decoration: none;
}

.navbar ul li a.active-link{
    font-weight: 700;
}

.underline{
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}